In [2]:
import numpy as np 
import pandas as pd
df=pd.read_csv('train.csv')
dft=pd.read_csv('test.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [3]:
y=df['Transported']
df1=df.drop('Transported',axis=1)
need_to_remove=['PassengerId','Cabin','Name']
df2=df1.drop(need_to_remove,axis=1)

In [75]:
g=y.astype(int)
y_train=g
y_train.value_counts()

1    4378
0    4315
Name: Transported, dtype: int64

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   object
 1   CryoSleep     8476 non-null   object
 2   Destination   8511 non-null   object
 3   Age           8514 non-null   float64
 4   VIP           8490 non-null   object
 5   RoomService   8512 non-null   float64
 6   FoodCourt     8510 non-null   float64
 7   ShoppingMall  8485 non-null   float64
 8   Spa           8510 non-null   float64
 9   VRDeck        8505 non-null   float64
dtypes: float64(6), object(4)
memory usage: 679.3+ KB

In [5]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [6]:
df3=df2.dropna(subset=['HomePlanet','CryoSleep'])  
df3.shape
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8277 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8277 non-null   object
 1   CryoSleep     8277 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8101 non-null   float64
 4   VIP           8084 non-null   object
 5   RoomService   8104 non-null   float64
 6   FoodCourt     8099 non-null   float64
 7   ShoppingMall  8084 non-null   float64
 8   Spa           8102 non-null   float64
 9   VRDeck        8097 non-null   float64
dtypes: float64(6), object(4)
memory usage: 711.3+ KB

In [7]:
df4=df3.dropna(subset=['Destination'])
df4['Age'].fillna(df4['Age'].mean(),inplace=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           7913 non-null   object
 5   RoomService   7933 non-null   float64
 6   FoodCourt     7931 non-null   float64
 7   ShoppingMall  7915 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
dtypes: float64(6), object(4)
memory usage: 696.4+ KB

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\400925909.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Age'].fillna(df4['Age'].mean(),inplace=True)

In [8]:
df4['VIP'].fillna(False,inplace=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   7933 non-null   float64
 6   FoodCourt     7931 non-null   float64
 7   ShoppingMall  7915 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
dtypes: bool(1), float64(6), object(3)
memory usage: 641.0+ KB

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\1497358875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['VIP'].fillna(False,inplace=True)

In [9]:
df4['RoomService'].fillna(0,inplace=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   8103 non-null   float64
 6   FoodCourt     7931 non-null   float64
 7   ShoppingMall  7915 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
dtypes: bool(1), float64(6), object(3)
memory usage: 641.0+ KB

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\3567740972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['RoomService'].fillna(0,inplace=True)

In [10]:
((df4['FoodCourt']<77)&(df4['FoodCourt']>5)).sum()

556

In [11]:
(df4['FoodCourt']==0).sum()
df4['FoodCourt'].fillna(0,inplace=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   8103 non-null   float64
 6   FoodCourt     8103 non-null   float64
 7   ShoppingMall  7915 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
dtypes: bool(1), float64(6), object(3)
memory usage: 641.0+ KB

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\3803199977.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['FoodCourt'].fillna(0,inplace=True)

In [12]:
df4['ShoppingMall'].fillna(0,inplace=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   8103 non-null   float64
 6   FoodCourt     8103 non-null   float64
 7   ShoppingMall  8103 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
dtypes: bool(1), float64(6), object(3)
memory usage: 641.0+ KB

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\2030108171.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['ShoppingMall'].fillna(0,inplace=True)

In [13]:
(df4['Spa']==0).sum()

4964

In [14]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   8103 non-null   float64
 6   FoodCourt     8103 non-null   float64
 7   ShoppingMall  8103 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
dtypes: bool(1), float64(6), object(3)
memory usage: 641.0+ KB

In [15]:
(df4['Spa'].isna()).sum()

173

In [16]:
df4['Spa'].fillna(0,inplace=True)

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\1199964485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Spa'].fillna(0,inplace=True)

In [17]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   8103 non-null   float64
 6   FoodCourt     8103 non-null   float64
 7   ShoppingMall  8103 non-null   float64
 8   Spa           8103 non-null   float64
 9   VRDeck        7925 non-null   float64
dtypes: bool(1), float64(6), object(3)
memory usage: 641.0+ KB

In [18]:
(df4['VRDeck']==0).sum()

5118

In [19]:
df4['VRDeck'].fillna(0,inplace=True)

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\3827574431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['VRDeck'].fillna(0,inplace=True)

In [20]:
df4.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0

In [21]:
df4['CryoSleep']=df4['CryoSleep'].astype(int)
df4.head()

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\1742200714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['CryoSleep']=df4['CryoSleep'].astype(int)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,0,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,0,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,0,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,0,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,0,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0

In [22]:
df4['VIP'].value_counts()

False    7914
True      189
Name: VIP, dtype: int64

In [23]:
df4.loc[df4['VIP']=='False','VIP']=False
df4['VIP'].value_counts()

False    7914
True      189
Name: VIP, dtype: int64

In [24]:
df4['VIP']=df4['VIP'].astype(int)
df4.head()

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\1489888905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['VIP']=df4['VIP'].astype(int)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0
1,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0
2,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0
3,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0
4,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0

In [44]:
df4['Expenses']=df4['RoomService']+df4['FoodCourt']+df4['ShoppingMall']+df4['Spa']+df4['VRDeck']
df4.head()

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\585388606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Expenses']=df4['RoomService']+df4['FoodCourt']+df4['ShoppingMall']+df4['Spa']+df4['VRDeck']

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Expenses
0,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,736.0
2,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,10383.0
3,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,5176.0
4,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,1091.0

In [46]:
columns_removed=['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
df6=df4.drop(columns_removed,axis=1)
df6.head()

  HomePlanet  CryoSleep  Destination   Age  VIP  Expenses
0     Europa          0  TRAPPIST-1e  39.0    0       0.0
1      Earth          0  TRAPPIST-1e  24.0    0     736.0
2     Europa          0  TRAPPIST-1e  58.0    1   10383.0
3     Europa          0  TRAPPIST-1e  33.0    0    5176.0
4      Earth          0  TRAPPIST-1e  16.0    0    1091.0

In [49]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler,OneHotEncoder
num_atr=['Age','Expenses']
cat_atr=['HomePlanet','Destination']
full_pipeline=ColumnTransformer([('num',StandardScaler(),num_atr),
                                 ('cat',OneHotEncoder(drop='first'),cat_atr)])
df7=full_pipeline.fit_transform(df6)
df7.shape

(8103, 6)

In [79]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
def best_model_using_grid_search_cv(X,y):
  algos={
    'logistic_regression':{
      'model':LogisticRegression(),
      'params':{
        'penalty':['l1','l2'],
        'max_iter':[90,100,150,200]
      }
    },
    'descision_tree':{
      'model':DecisionTreeClassifier(),
      'params':{
        'max_features':[1,2,3,4,5,6],
        'max_depth':[2,10,15,40,60,90,100]
      }
    },
    'random_forest':{
      'model':RandomForestClassifier(),
      'params':{
        'n_Estimators':[10,90,100,150,200],
      'max_depth':range(40)
      }
    }
  }
  scores=[]
  for algo_name,config in algos.items():
    gs=GridSearchCV(config['model'],config['params'],cv=5,return_train_score=False)
    gs.fit(X,y)
    scores.append({
      'model':algo_name,
      'best_score':gs.best_score_,
      'best_params':gs.best_params_
    })
  return pd.DataFrame(scores,columns=['model','best_score','best_params'])

grid search cv is ready use it by fitting it with df7,y_train

Test Data analysis starts

In [26]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [27]:
dft['HomePlanet'].value_counts()

Earth     2263
Europa    1002
Mars       925
Name: HomePlanet, dtype: int64

In [28]:
dft['HomePlanet'].mode()

0    Earth
Name: HomePlanet, dtype: object

In [29]:
dft['HomePlanet'].fillna('Earth',inplace=True)
dft.info()
dft['HomePlanet'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

Earth     2350
Europa    1002
Mars       925
Name: HomePlanet, dtype: int64

In [30]:
dft['CryoSleep'].fillna(False,inplace=True)
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: bool(1), float64(6), object(6)
memory usage: 405.3+ KB

In [31]:
dft1=dft.drop("Cabin",axis=1)
dft1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4185 non-null   object
 4   Age           4186 non-null   float64
 5   VIP           4184 non-null   object
 6   RoomService   4195 non-null   float64
 7   FoodCourt     4171 non-null   float64
 8   ShoppingMall  4179 non-null   float64
 9   Spa           4176 non-null   float64
 10  VRDeck        4197 non-null   float64
 11  Name          4183 non-null   object
dtypes: bool(1), float64(6), object(5)
memory usage: 371.9+ KB

In [32]:
dft1['Destination'].value_counts()

TRAPPIST-1e      2956
55 Cancri e       841
PSO J318.5-22     388
Name: Destination, dtype: int64

In [33]:
dft1['Destination'].fillna("TRAPPIST-1e",inplace=True)
dft1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4277 non-null   object
 4   Age           4186 non-null   float64
 5   VIP           4184 non-null   object
 6   RoomService   4195 non-null   float64
 7   FoodCourt     4171 non-null   float64
 8   ShoppingMall  4179 non-null   float64
 9   Spa           4176 non-null   float64
 10  VRDeck        4197 non-null   float64
 11  Name          4183 non-null   object
dtypes: bool(1), float64(6), object(5)
memory usage: 371.9+ KB

In [34]:
dft1['Age'].fillna(dft1['Age'].mean(),inplace=True)
dft1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4277 non-null   object
 4   Age           4277 non-null   float64
 5   VIP           4184 non-null   object
 6   RoomService   4195 non-null   float64
 7   FoodCourt     4171 non-null   float64
 8   ShoppingMall  4179 non-null   float64
 9   Spa           4176 non-null   float64
 10  VRDeck        4197 non-null   float64
 11  Name          4183 non-null   object
dtypes: bool(1), float64(6), object(5)
memory usage: 371.9+ KB

In [35]:
dft1['VIP'].value_counts()

False    4110
True       74
Name: VIP, dtype: int64

In [36]:
dft1['VIP'].fillna(False,inplace=True)
dft1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4277 non-null   object
 4   Age           4277 non-null   float64
 5   VIP           4277 non-null   bool
 6   RoomService   4195 non-null   float64
 7   FoodCourt     4171 non-null   float64
 8   ShoppingMall  4179 non-null   float64
 9   Spa           4176 non-null   float64
 10  VRDeck        4197 non-null   float64
 11  Name          4183 non-null   object
dtypes: bool(2), float64(6), object(4)
memory usage: 342.6+ KB

In [37]:
dft1.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [38]:
(dft1['RoomService']==0).sum()
(dft1['FoodCourt']==0).sum()
(dft1['ShoppingMall']==0).sum()
(dft1['Spa']==0).sum()
(dft1['VRDeck']==0).sum()

2757

In [39]:
dft1['RoomService'].fillna(0,inplace=True)
dft1['FoodCourt'].fillna(0,inplace=True)
dft1['ShoppingMall'].fillna(0,inplace=True)
dft1['Spa'].fillna(0,inplace=True)
dft1['VRDeck'].fillna(0,inplace=True)
dft1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4277 non-null   object
 4   Age           4277 non-null   float64
 5   VIP           4277 non-null   bool
 6   RoomService   4277 non-null   float64
 7   FoodCourt     4277 non-null   float64
 8   ShoppingMall  4277 non-null   float64
 9   Spa           4277 non-null   float64
 10  VRDeck        4277 non-null   float64
 11  Name          4183 non-null   object
dtypes: bool(2), float64(6), object(4)
memory usage: 342.6+ KB

In [42]:
dft2=dft1.drop("Name",axis=1)
dft2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4277 non-null   object
 4   Age           4277 non-null   float64
 5   VIP           4277 non-null   bool
 6   RoomService   4277 non-null   float64
 7   FoodCourt     4277 non-null   float64
 8   ShoppingMall  4277 non-null   float64
 9   Spa           4277 non-null   float64
 10  VRDeck        4277 non-null   float64
dtypes: bool(2), float64(6), object(3)
memory usage: 309.2+ KB

In [50]:
y_pred_id=dft2['PassengerId']
y_pred_id.shape

(4277,)

In [53]:
dft3=dft2.drop('PassengerId',axis=1)
dft3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    4277 non-null   object
 1   CryoSleep     4277 non-null   bool
 2   Destination   4277 non-null   object
 3   Age           4277 non-null   float64
 4   VIP           4277 non-null   bool
 5   RoomService   4277 non-null   float64
 6   FoodCourt     4277 non-null   float64
 7   ShoppingMall  4277 non-null   float64
 8   Spa           4277 non-null   float64
 9   VRDeck        4277 non-null   float64
dtypes: bool(2), float64(6), object(2)
memory usage: 275.8+ KB

In [56]:
dft3['CryoSleep']=dft3['CryoSleep'].astype(int)
dft3['VIP']=dft3['VIP'].astype(int)
dft3.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Earth,1,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0
1,Earth,0,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0
2,Europa,1,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0
3,Europa,0,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0
4,Earth,0,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0

In [58]:
dft3['CryoSleep'].value_counts()

0    2733
1    1544
Name: CryoSleep, dtype: int64

In [59]:
dft3.shape

(4277, 10)

In [60]:
dft3['Expenses']=dft3['RoomService']+dft3['FoodCourt']+dft3['ShoppingMall']+dft3['Spa']+dft3['VRDeck']

In [63]:
dft3.shape
columns_removed_test=['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
dft4=dft3.drop(columns_removed_test,axis=1)
dft4.head()

  HomePlanet  CryoSleep  Destination   Age  VIP  Expenses
0      Earth          1  TRAPPIST-1e  27.0    0       0.0
1      Earth          0  TRAPPIST-1e  19.0    0    2832.0
2     Europa          1  55 Cancri e  31.0    0       0.0
3     Europa          0  TRAPPIST-1e  38.0    0    7418.0
4      Earth          0  TRAPPIST-1e  20.0    0     645.0

In [66]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
num_atr_test=['Age','Expenses']
cat_atr_test=['Destination','HomePlanet']
full_pipeline_test=ColumnTransformer([('numt',StandardScaler(),num_atr_test),
                                      ('catt',OneHotEncoder(drop='first'),cat_atr_test)])
dft5=full_pipeline_test.fit_transform(dft4)
dft5.shape

(4277, 6)

In [41]:
dft1.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,4277.000000,4277.000000,4277.000000,4277.000000,4277.000000,4277.000000
mean,28.658146,215.062427,428.592238,173.233107,295.895955,304.898293
std,14.027384,601.914503,1510.155974,554.991776,1104.872018,1235.991811
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,48.000000,66.000000,27.000000,43.000000,31.000000
max,79.000000,11567.000000,25273.000000,8292.000000,19844.000000,22272.000000

DO some feature engineering for the 5 columns<br>
do it for both the test and train dataset <br>
do for the train and again go with the pipeline and store it <br>