In [151]:
import pandas as pd
import numpy as np 
from scipy.stats import spearmanr
df=pd.read_csv("train.csv")
dft=pd.read_csv("test.csv")
df.head()
df=df.drop("PassengerId",axis=1)
df.head()
df.dropna(subset=["HomePlanet","CryoSleep"],inplace=True)
df.info()
df.drop("Cabin",axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8277 entries, 0 to 8692
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8277 non-null   object
 1   CryoSleep     8277 non-null   object
 2   Cabin         8091 non-null   object
 3   Destination   8103 non-null   object
 4   Age           8101 non-null   float64
 5   VIP           8084 non-null   object
 6   RoomService   8104 non-null   float64
 7   FoodCourt     8099 non-null   float64
 8   ShoppingMall  8084 non-null   float64
 9   Spa           8102 non-null   float64
 10  VRDeck        8097 non-null   float64
 11  Name          8094 non-null   object
 12  Transported   8277 non-null   bool
dtypes: bool(1), float64(6), object(6)
memory usage: 848.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8277 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8277 non-null   object
 1   CryoSleep     8277 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8101 non-null   float64
 4   VIP           8084 non-null   object
 5   RoomService   8104 non-null   float64
 6   FoodCourt     8099 non-null   float64
 7   ShoppingMall  8084 non-null   float64
 8   Spa           8102 non-null   float64
 9   VRDeck        8097 non-null   float64
 10  Name          8094 non-null   object
 11  Transported   8277 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 784.1+ KB

In [156]:
df.shape

(8277, 12)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [142]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [ ]:
)