In [567]:
import pandas as pd
import numpy as np 
from scipy.stats import spearmanr
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("train.csv")
df2=pd.read_csv("train.csv")
df3=df2['RoomService']
dft=pd.read_csv("test.csv")
df.head()
df=df.drop("PassengerId",axis=1)
df.head()
df.dropna(subset=["HomePlanet","CryoSleep","Destination"],inplace=True)
df.info()
df.drop("Cabin",axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Cabin         7920 non-null   object
 3   Destination   8103 non-null   object
 4   Age           7930 non-null   float64
 5   VIP           7913 non-null   object
 6   RoomService   7933 non-null   float64
 7   FoodCourt     7931 non-null   float64
 8   ShoppingMall  7915 non-null   float64
 9   Spa           7930 non-null   float64
 10  VRDeck        7925 non-null   float64
 11  Name          7924 non-null   object
 12  Transported   8103 non-null   bool
dtypes: bool(1), float64(6), object(6)
memory usage: 830.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           7930 non-null   float64
 4   VIP           7913 non-null   object
 5   RoomService   7933 non-null   float64
 6   FoodCourt     7931 non-null   float64
 7   ShoppingMall  7915 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
 10  Name          7924 non-null   object
 11  Transported   8103 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 767.6+ KB

In [568]:
df["Age"].fillna(df["Age"].mean(),inplace=True)
df["Age"].median()

27.0

In [569]:
df["HomePlanet"].unique()

array(['Europa', 'Earth', 'Mars'], dtype=object)

In [570]:

df1=df[["HomePlanet","VIP"]]
matrix=df1.pivot_table(index="HomePlanet",columns="VIP",aggfunc="size",fill_value=0)
matrix

VIP         False  True
HomePlanet
Earth        4284      0
Europa       1870    126
Mars         1570     63

In [571]:
cond1=df['HomePlanet']=='Earth'
cond2=df['VIP'].isna()
df.loc[cond1 & cond2 , 'VIP']=False

In [572]:
cond1=df['HomePlanet']=='Mars'
cond2=df['VIP'].isna()
df.loc[(cond1)&(cond2),'VIP']=False

In [573]:
df.dropna(subset=['VIP'],inplace=True)

In [574]:
df['RoomService'].isna().sum()

170

In [575]:
roomservicemean=df['RoomService'].mean()
roomservicemode=df['RoomService'].mode()
roomservicemode

0    0.0
Name: RoomService, dtype: float64

In [576]:
cond1=df['VIP']==True
cond2=df['RoomService'].isna()
df.loc[(cond1)&(cond2),'RoomService']=roomservicemean
df.shape

(8061, 12)

In [577]:

df['RoomService'].shape

(8061,)

In [578]:
df['RoomService'].isna().sum()

166

In [586]:

df['RoomService'].shape
df['RoomService'].fillna(0,inplace=True)

In [580]:
df4=df.copy()
df = df.loc[:, ~df.columns.duplicated(keep='first')]

In [587]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8061 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8061 non-null   object
 1   CryoSleep     8061 non-null   object
 2   Destination   8061 non-null   object
 3   Age           8061 non-null   float64
 4   VIP           8061 non-null   object
 5   RoomService   8061 non-null   float64
 6   FoodCourt     7892 non-null   float64
 7   ShoppingMall  7874 non-null   float64
 8   Spa           7888 non-null   float64
 9   VRDeck        7883 non-null   float64
 10  Name          7882 non-null   object
 11  Transported   8061 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 763.6+ KB

In [582]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8061.000000,7895.000000,7892.000000,7874.000000,7888.000000,7883.000000
mean,28.787172,225.019516,459.145971,176.374016,310.971222,303.877458
std,14.350389,666.427297,1623.527857,615.536176,1135.499053,1149.185208
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,48.000000,76.000000,28.000000,59.250000,44.500000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000