In [580]:
import numpy as np 
import pandas as pd
df=pd.read_csv('train.csv')
dft=pd.read_csv('test.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [581]:
y=df['Transported']
df1=df
need_to_remove=['PassengerId','Cabin','Name']
df2=df1.drop(need_to_remove,axis=1)

In [582]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   object
 1   CryoSleep     8476 non-null   object
 2   Destination   8511 non-null   object
 3   Age           8514 non-null   float64
 4   VIP           8490 non-null   object
 5   RoomService   8512 non-null   float64
 6   FoodCourt     8510 non-null   float64
 7   ShoppingMall  8485 non-null   float64
 8   Spa           8510 non-null   float64
 9   VRDeck        8505 non-null   float64
 10  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(4)
memory usage: 687.8+ KB

In [583]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [584]:
df3=df2.dropna(subset=['HomePlanet','CryoSleep'])  
df3.shape
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8277 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8277 non-null   object
 1   CryoSleep     8277 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8101 non-null   float64
 4   VIP           8084 non-null   object
 5   RoomService   8104 non-null   float64
 6   FoodCourt     8099 non-null   float64
 7   ShoppingMall  8084 non-null   float64
 8   Spa           8102 non-null   float64
 9   VRDeck        8097 non-null   float64
 10  Transported   8277 non-null   bool
dtypes: bool(1), float64(6), object(4)
memory usage: 719.4+ KB

In [585]:
df4=df3.dropna(subset=['Destination'])
df4['Age'].fillna(df4['Age'].mean(),inplace=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           7913 non-null   object
 5   RoomService   7933 non-null   float64
 6   FoodCourt     7931 non-null   float64
 7   ShoppingMall  7915 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
 10  Transported   8103 non-null   bool
dtypes: bool(1), float64(6), object(4)
memory usage: 704.3+ KB

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\400925909.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Age'].fillna(df4['Age'].mean(),inplace=True)

In [586]:
df4['VIP'].fillna(False,inplace=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   7933 non-null   float64
 6   FoodCourt     7931 non-null   float64
 7   ShoppingMall  7915 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
 10  Transported   8103 non-null   bool
dtypes: bool(2), float64(6), object(3)
memory usage: 648.9+ KB

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\1497358875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['VIP'].fillna(False,inplace=True)

In [587]:
df4['RoomService'].fillna(0,inplace=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   8103 non-null   float64
 6   FoodCourt     7931 non-null   float64
 7   ShoppingMall  7915 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
 10  Transported   8103 non-null   bool
dtypes: bool(2), float64(6), object(3)
memory usage: 648.9+ KB

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\3567740972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['RoomService'].fillna(0,inplace=True)

In [588]:
((df4['FoodCourt']<77)&(df4['FoodCourt']>5)).sum()

556

In [589]:
(df4['FoodCourt']==0).sum()
df4['FoodCourt'].fillna(0,inplace=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   8103 non-null   float64
 6   FoodCourt     8103 non-null   float64
 7   ShoppingMall  7915 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
 10  Transported   8103 non-null   bool
dtypes: bool(2), float64(6), object(3)
memory usage: 648.9+ KB

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\3803199977.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['FoodCourt'].fillna(0,inplace=True)

In [590]:
df4['ShoppingMall'].fillna(0,inplace=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   8103 non-null   float64
 6   FoodCourt     8103 non-null   float64
 7   ShoppingMall  8103 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
 10  Transported   8103 non-null   bool
dtypes: bool(2), float64(6), object(3)
memory usage: 648.9+ KB

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\2030108171.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['ShoppingMall'].fillna(0,inplace=True)

In [591]:
(df4['Spa']==0).sum()

4964

In [592]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   8103 non-null   float64
 6   FoodCourt     8103 non-null   float64
 7   ShoppingMall  8103 non-null   float64
 8   Spa           7930 non-null   float64
 9   VRDeck        7925 non-null   float64
 10  Transported   8103 non-null   bool
dtypes: bool(2), float64(6), object(3)
memory usage: 648.9+ KB

In [593]:
(df4['Spa'].isna()).sum()

173

In [594]:
df4['Spa'].fillna(0,inplace=True)

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\1199964485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Spa'].fillna(0,inplace=True)

In [595]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8103 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8103 non-null   object
 1   CryoSleep     8103 non-null   object
 2   Destination   8103 non-null   object
 3   Age           8103 non-null   float64
 4   VIP           8103 non-null   bool
 5   RoomService   8103 non-null   float64
 6   FoodCourt     8103 non-null   float64
 7   ShoppingMall  8103 non-null   float64
 8   Spa           8103 non-null   float64
 9   VRDeck        7925 non-null   float64
 10  Transported   8103 non-null   bool
dtypes: bool(2), float64(6), object(3)
memory usage: 648.9+ KB

In [596]:
(df4['VRDeck']==0).sum()

5118

In [597]:
df4['VRDeck'].fillna(0,inplace=True)

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\3827574431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['VRDeck'].fillna(0,inplace=True)

In [598]:
df4.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [599]:
df4['CryoSleep']=df4['CryoSleep'].astype(int)
df4.head()

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\1742200714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['CryoSleep']=df4['CryoSleep'].astype(int)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,0,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,0,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,0,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,0,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,0,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [600]:
df4['VIP'].value_counts()

False    7914
True      189
Name: VIP, dtype: int64

In [601]:
df4.loc[df4['VIP']=='False','VIP']=False
df4['VIP'].value_counts()

False    7914
True      189
Name: VIP, dtype: int64

In [602]:
df4['VIP']=df4['VIP'].astype(int)
df4.head()

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\1489888905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['VIP']=df4['VIP'].astype(int)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,False
1,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,True
2,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,True

In [603]:
df4['Expenses']=df4['RoomService']+df4['FoodCourt']+df4['ShoppingMall']+df4['Spa']+df4['VRDeck']
df4.head()

C:\Users\Jaya Teja\AppData\Local\Temp\ipykernel_13916\585388606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Expenses']=df4['RoomService']+df4['FoodCourt']+df4['ShoppingMall']+df4['Spa']+df4['VRDeck']

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Expenses
0,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,False,0.0
1,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,True,736.0
2,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False,10383.0
3,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False,5176.0
4,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,True,1091.0

In [604]:
columns_removed=['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
df6=df4.drop(columns_removed,axis=1)
df6.head()

  HomePlanet  CryoSleep  Destination   Age  VIP  Transported  Expenses
0     Europa          0  TRAPPIST-1e  39.0    0        False       0.0
1      Earth          0  TRAPPIST-1e  24.0    0         True     736.0
2     Europa          0  TRAPPIST-1e  58.0    1        False   10383.0
3     Europa          0  TRAPPIST-1e  33.0    0        False    5176.0
4      Earth          0  TRAPPIST-1e  16.0    0         True    1091.0

In [605]:
df6['Transported'].shape

(8103,)

In [606]:
y_train=df6['Transported']
y_train.shape
y_train

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8103, dtype: bool

In [607]:
y_train=y_train.astype(int)
y_train

0       0
1       1
2       0
3       0
4       1
       ..
8688    0
8689    0
8690    1
8691    0
8692    1
Name: Transported, Length: 8103, dtype: int32

In [608]:
df6.drop('Transported',axis=1,inplace=True)

In [609]:
df6.head()
df8=df6.drop('HomePlanet',axis=1)
df8

      CryoSleep    Destination   Age  VIP  Expenses
0             0    TRAPPIST-1e  39.0    0       0.0
1             0    TRAPPIST-1e  24.0    0     736.0
2             0    TRAPPIST-1e  58.0    1   10383.0
3             0    TRAPPIST-1e  33.0    0    5176.0
4             0    TRAPPIST-1e  16.0    0    1091.0
...         ...            ...   ...  ...       ...
8688          0    55 Cancri e  41.0    1    8536.0
8689          1  PSO J318.5-22  18.0    0       0.0
8690          0    TRAPPIST-1e  26.0    0    1873.0
8691          0    55 Cancri e  32.0    0    4637.0
8692          0    TRAPPIST-1e  44.0    0    4826.0

[8103 rows x 5 columns]

In [610]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler,OneHotEncoder
num_atr=['Age','Expenses']
cat_atr=['Destination','HomePlanet']
full_pipeline=ColumnTransformer([('num',StandardScaler(),num_atr),
                                 ('cat',OneHotEncoder(drop='first'),cat_atr)])
df7=full_pipeline.fit_transform(df6)
df7.shape

(8103, 6)

grid search cv is ready use it by fitting it with df7,y_train

Test Data analysis starts

So from hyperparameter tuning ,grid search cv can conclude that we can use the random forest model with hyperparameter max_depth=8,n_estimators=200

In [611]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [612]:
dft['HomePlanet'].value_counts()

Earth     2263
Europa    1002
Mars       925
Name: HomePlanet, dtype: int64

In [613]:
dft['HomePlanet'].mode()

0    Earth
Name: HomePlanet, dtype: object

In [614]:
dft['HomePlanet'].fillna('Earth',inplace=True)
dft.info()
dft['HomePlanet'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

Earth     2350
Europa    1002
Mars       925
Name: HomePlanet, dtype: int64

In [615]:
dft['CryoSleep'].fillna(False,inplace=True)
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: bool(1), float64(6), object(6)
memory usage: 405.3+ KB

In [616]:
dft1=dft.drop("Cabin",axis=1)
dft1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4185 non-null   object
 4   Age           4186 non-null   float64
 5   VIP           4184 non-null   object
 6   RoomService   4195 non-null   float64
 7   FoodCourt     4171 non-null   float64
 8   ShoppingMall  4179 non-null   float64
 9   Spa           4176 non-null   float64
 10  VRDeck        4197 non-null   float64
 11  Name          4183 non-null   object
dtypes: bool(1), float64(6), object(5)
memory usage: 371.9+ KB

In [617]:
dft1['Destination'].value_counts()

TRAPPIST-1e      2956
55 Cancri e       841
PSO J318.5-22     388
Name: Destination, dtype: int64

In [618]:
dft1['Destination'].fillna("TRAPPIST-1e",inplace=True)
dft1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4277 non-null   object
 4   Age           4186 non-null   float64
 5   VIP           4184 non-null   object
 6   RoomService   4195 non-null   float64
 7   FoodCourt     4171 non-null   float64
 8   ShoppingMall  4179 non-null   float64
 9   Spa           4176 non-null   float64
 10  VRDeck        4197 non-null   float64
 11  Name          4183 non-null   object
dtypes: bool(1), float64(6), object(5)
memory usage: 371.9+ KB

In [619]:
dft1['Age'].fillna(dft1['Age'].mean(),inplace=True)
dft1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4277 non-null   object
 4   Age           4277 non-null   float64
 5   VIP           4184 non-null   object
 6   RoomService   4195 non-null   float64
 7   FoodCourt     4171 non-null   float64
 8   ShoppingMall  4179 non-null   float64
 9   Spa           4176 non-null   float64
 10  VRDeck        4197 non-null   float64
 11  Name          4183 non-null   object
dtypes: bool(1), float64(6), object(5)
memory usage: 371.9+ KB

In [620]:
dft1['VIP'].value_counts()

False    4110
True       74
Name: VIP, dtype: int64

In [621]:
dft1['VIP'].fillna(False,inplace=True)
dft1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4277 non-null   object
 4   Age           4277 non-null   float64
 5   VIP           4277 non-null   bool
 6   RoomService   4195 non-null   float64
 7   FoodCourt     4171 non-null   float64
 8   ShoppingMall  4179 non-null   float64
 9   Spa           4176 non-null   float64
 10  VRDeck        4197 non-null   float64
 11  Name          4183 non-null   object
dtypes: bool(2), float64(6), object(4)
memory usage: 342.6+ KB

In [622]:
dft1.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [623]:
(dft1['RoomService']==0).sum()
(dft1['FoodCourt']==0).sum()
(dft1['ShoppingMall']==0).sum()
(dft1['Spa']==0).sum()
(dft1['VRDeck']==0).sum()

2757

In [624]:
dft1['RoomService'].fillna(0,inplace=True)
dft1['FoodCourt'].fillna(0,inplace=True)
dft1['ShoppingMall'].fillna(0,inplace=True)
dft1['Spa'].fillna(0,inplace=True)
dft1['VRDeck'].fillna(0,inplace=True)
dft1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4277 non-null   object
 4   Age           4277 non-null   float64
 5   VIP           4277 non-null   bool
 6   RoomService   4277 non-null   float64
 7   FoodCourt     4277 non-null   float64
 8   ShoppingMall  4277 non-null   float64
 9   Spa           4277 non-null   float64
 10  VRDeck        4277 non-null   float64
 11  Name          4183 non-null   object
dtypes: bool(2), float64(6), object(4)
memory usage: 342.6+ KB

In [625]:
dft2=dft1.drop("Name",axis=1)
dft2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4277 non-null   object
 4   Age           4277 non-null   float64
 5   VIP           4277 non-null   bool
 6   RoomService   4277 non-null   float64
 7   FoodCourt     4277 non-null   float64
 8   ShoppingMall  4277 non-null   float64
 9   Spa           4277 non-null   float64
 10  VRDeck        4277 non-null   float64
dtypes: bool(2), float64(6), object(3)
memory usage: 309.2+ KB

In [626]:
y_pred_id=dft2['PassengerId']
y_pred_id.shape

(4277,)

In [627]:
dft3=dft2.drop('PassengerId',axis=1)
dft3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    4277 non-null   object
 1   CryoSleep     4277 non-null   bool
 2   Destination   4277 non-null   object
 3   Age           4277 non-null   float64
 4   VIP           4277 non-null   bool
 5   RoomService   4277 non-null   float64
 6   FoodCourt     4277 non-null   float64
 7   ShoppingMall  4277 non-null   float64
 8   Spa           4277 non-null   float64
 9   VRDeck        4277 non-null   float64
dtypes: bool(2), float64(6), object(2)
memory usage: 275.8+ KB

In [628]:
dft3['CryoSleep']=dft3['CryoSleep'].astype(int)
dft3['VIP']=dft3['VIP'].astype(int)
dft3.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Earth,1,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0
1,Earth,0,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0
2,Europa,1,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0
3,Europa,0,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0
4,Earth,0,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0

In [629]:
dft3['CryoSleep'].value_counts()

0    2733
1    1544
Name: CryoSleep, dtype: int64

In [630]:
dft3.shape

(4277, 10)

In [631]:
dft3['Expenses']=dft3['RoomService']+dft3['FoodCourt']+dft3['ShoppingMall']+dft3['Spa']+dft3['VRDeck']

In [632]:
dft3.shape
columns_removed_test=['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
dft4=dft3.drop(columns_removed_test,axis=1)
dft4.head()

  HomePlanet  CryoSleep  Destination   Age  VIP  Expenses
0      Earth          1  TRAPPIST-1e  27.0    0       0.0
1      Earth          0  TRAPPIST-1e  19.0    0    2832.0
2     Europa          1  55 Cancri e  31.0    0       0.0
3     Europa          0  TRAPPIST-1e  38.0    0    7418.0
4      Earth          0  TRAPPIST-1e  20.0    0     645.0

In [633]:
dft6=dft4.drop('HomePlanet',axis=1)

In [634]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
num_atr_test=['Age','Expenses']
cat_atr_test=['Destination','HomePlanet']
full_pipeline_test=ColumnTransformer([('numt',StandardScaler(),num_atr_test),
                                      ('catt',OneHotEncoder(drop='first'),cat_atr_test)])
dft5=full_pipeline_test.fit_transform(dft4)
dft5.shape

(4277, 6)

In [635]:
dft1.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,4277.000000,4277.000000,4277.000000,4277.000000,4277.000000,4277.000000
mean,28.658146,215.062427,428.592238,173.233107,295.895955,304.898293
std,14.027384,601.914503,1510.155974,554.991776,1104.872018,1235.991811
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,48.000000,66.000000,27.000000,43.000000,31.000000
max,79.000000,11567.000000,25273.000000,8292.000000,19844.000000,22272.000000

DO some feature engineering for the 5 columns<br>
do it for both the test and train dataset <br>
do for the train and again go with the pipeline and store it <br>

model implementation from grid search cv from train data set analysis section

In [445]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
def best_model_using_grid_search_cv(X,y):
  algos={
    'logistic_regression':{
      'model':LogisticRegression(),
      'params':{
        'penalty':['l1','l2'],
        'max_iter':[100,150,200]
      }
    },
    'descision_tree':{
      'model':DecisionTreeClassifier(),
      'params':{
        'max_features':[3,4,5,6],
        
      }
    },
    'random_forest':{
      'model':RandomForestClassifier(),
      'params':{
        'n_estimators':[100,150,200],
      'max_depth':range(15)
      }
    }
  }
  scores=[]
  for algo_name,config in algos.items():
    gs=GridSearchCV(config['model'],config['params'],cv=5,return_train_score=False)
    gs.fit(X,y)
    scores.append({
      'model':algo_name,
      'best_score':gs.best_score_,
      'best_params':gs.best_params_
    })
  return pd.DataFrame(scores,columns=['model','best_score','best_params'])
best_model_using_grid_search_cv(df7,y_train)

c:\Users\Jaya Teja\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
15 fits failed out of a total of 30.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\Jaya Teja\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\Jaya Teja\anaconda3\Lib\site-packages\sklearn\base.py", line 1151, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Jaya Teja\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py", line 1168, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Jaya Teja\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py", line 56, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\Jaya Teja\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan 0.67888508        nan 0.67888508        nan 0.67888508]
  warnings.warn(

KeyboardInterrupt:

In [656]:
df7.shape

(8103, 6)

In [659]:
rf_model=RandomForestClassifier(max_depth=8,n_estimators=100,random_state=33)
rf_model.fit(df7,y_train)
y_pred_values=rf_model.predict(dft5)
y_pred_values

array([0, 0, 1, ..., 0, 0, 0])

In [660]:
y_pred_id=y_pred_id.reset_index(drop=True)
y_pred_id

0       0013_01
1       0018_01
2       0019_01
3       0021_01
4       0023_01
         ...
4272    9266_02
4273    9269_01
4274    9271_01
4275    9273_01
4276    9277_01
Name: PassengerId, Length: 4277, dtype: object

In [661]:
y_pred_values=y_pred_values.astype(bool)

In [662]:
y_pred_values=pd.DataFrame(y_pred_values,columns=['Transported'])
y_pred_values=y_pred_values.reset_index(drop=True)
y_pred_values

      Transported
0           False
1           False
2            True
3           False
4           False
...           ...
4272        False
4273        False
4274        False
4275        False
4276        False

[4277 rows x 1 columns]

In [663]:
y_pred=pd.concat([y_pred_id,y_pred_values],axis=1)
y_pred.shape

(4277, 2)

In [664]:
y_pred.to_csv('submission.csv',index=False)